body{
    background-image: url(https://wallpaperaccess.com/full/890754.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: fantasy;
    

}

h1{
    border-bottom: 3px dotted;
}